/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg_image: url(../images/cover-image-dark.png);
  --bg_color: #000028;
  --accent_color: #ff0070;
  --text_color: #f1b2ce;
  --title-color: #db00ff;
}
