/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg_image: url(../images/cover-image-dark.png);
  --bg_color: #000028;
  --accent_color: #ff0070;
  --text_color: #f1b2ce;
  --title-color: #db00ff;
  --title_decor: #000028;
  --menu_color: #ff0070;
  --active_button: #ff0070;
  --focus_button: #ff0070;
  --hover_button: rgba(255, 0, 112, 0.4);
  --decorated_zone: #ff0070;
  --content_title: #ff0070;
}
