/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg_image: url(../images/cover-image-light.png);
  --bg_color: #ffc2e6;
  --accent_color: #ff8dcb;
  --text_color: #353430;
  --title-color: #ffc2e6;
  --title_decor: #353430;
  --menu_color: #353430;
  --active_button: #353430;
  --focus_button: #353430;
  --hover_button: rgba(50, 49, 45, 0.4);
  --decorated_zone: #353430;
  --content_title: #353430;
}

.theme-light .rec {
  display: none;
}

.theme-light .header__theme-menu-button {
  color: var(--menu_color);
}

.theme-light .header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--active_button);
}

.theme-light .header__theme-menu-button:focus {
  outline: none;
}

.theme-light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--focus_button);
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid var(--hover_button);
}

.theme-light .decorated-zone::before {
  border-top: 1px solid var(--decorated_zone);
  border-right: 1px solid var(--decorated_zone);
}

.theme-light .decorated-zone::after {
  border-bottom: 1px solid var(--decorated_zone);
  border-left: 1px solid var(--decorated_zone);
}

.theme-light .content__title {
  color: var(--content_title);
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --bg_image: url(../images/cover-image-light.png);
    --bg_color: #ffc2e6;
    --accent_color: #ff8dcb;
    --text_color: #353430;
    --title-color: #ffc2e6;
    --title_decor: #353430;
    --menu_color: #353430;
    --active_button: #353430;
    --focus_button: #353430;
    --hover_button: rgba(50, 49, 45, 0.4);
    --decorated_zone: #353430;
    --content_title: #353430;
  }

  :root.theme-auto .rec {
    display: none;
  }
}

