/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg_image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg_color);
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: var(--text_color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 24px;
  border-top: 1px solid var(--decorated_zone);
  border-right: 1px solid var(--decorated_zone);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 24px;
  border-bottom: 1px solid var(--decorated_zone);
  border-left: 1px solid var(--decorated_zone);
}

.rec {
  position: absolute;
  top: 10px;
  right: 20px;
  text-transform: uppercase;
  color: var(--accent_color);
}

.rec::after {
  content: "";
  display: inline-block;
  border-radius: 100%;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  background-color: var(--accent_color);
  box-shadow: 0 0 4px 2px var(--accent_color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.header__theme-menu-item {
  border: 1px solid transparent;
  line-height: 1;
  text-align: center;
}

.header__theme-menu-button {
  color: var(--menu_color);
  text-transform: lowercase;
  background-color: transparent;
  border: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover_button);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--focus_button);
}

.title {
  justify-self: start;
  align-self: center;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent_color);
}

.title__decor {
  font-weight: 700;
  line-height: 1.3;
  color: var(--title_decor);
  background-color: var(--accent_color);
}

.content {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.content__title {
  margin-block-end: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--content_title);
}

.content__subtitle {
  margin-block-end: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.content__subtitle + .content__subtitle {
  margin-block-start: 20px;
}

.text__blocks:not(:last-of-type) {
  margin-block-end: 20px;
}

.content__advice-title {
  font-weight: 400;
}

.content__paragraph a {
  text-decoration: none;
  text-shadow: 1px 1.5px 0 var(--accent_color);
}

.content__paragraph a:hover {
  border-bottom: 2px solid var(--text_color);
}

.content__paragraph a:focus {
  outline: none;
}

.content__paragraph a:focus-visible {
  border: 1px solid var(--text_color);
}

.gallery__images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__images img {
  max-width: 100%;
  height: auto;
  display: block;
}

.footer {
  position: relative;
  block-size: 100vh;
  min-block-size: 667px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  text-shadow: 2px 2px var(--accent_color);
}

@media (width >= 768px) {
  .header {
    min-block-size: 1024px;
    padding: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .rec {
    top: 20px;
    right: 30px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .header__text {
    inline-size: 50%;
  }

  .content {
    gap: 60px;
    padding: 60px 20px;
  }

  .content__text-block {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .what {
    .content__title {
      grid-column: 1 / -1;
      max-width: 236px;
    }

    .text__block {
      grid-column: 1 / -1;
    }
  }

  .content__paragraph {
    margin-block-end: 20px;
  }

  .gallery__images {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-start: 20px;
  }

  .gallery__images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery__images img:nth-child(1) {
    grid-column: span 2;
    grid-row: 1;
  }

  .gallery__images img:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .gallery__images img:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .gallery__images img:nth-child(5) {
    grid-column: 2 / span 2;
  }

  .footer__title {
    margin: initial;
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
    padding: 20px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 25px;
  }

  .content__text-block {
    grid-template-columns: repeat(3, 1fr);
  }

  .text__block {
    grid-column: span 2;
  }

  .what {
    .content__title {
      grid-column: 1;
      max-width: 315px;
    }

    .text__block {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--active_button);
  padding: 3px 12px;
}
